$tablet: 768px;
$desktop: 1024px;
$large-desktop: 1440px;

@mixin mobile {
  @media (max-width: #{$tablet}) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: #{$tablet}) and (max-width: #{$desktop - 1}) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: #{$desktop}) and (max-width: #{$large-desktop - 1}) {
    @content;
  }
}

@mixin large-desktop {
  @media (min-width: #{$large-desktop}) {
    @content;
  }
}
