@import '../../utils/mixin';

$font-weight: 500;

.navbar {
  width: 100vw;
  padding: 0 10rem;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: default;
  user-select: none;

  @include tablet {
    padding: 0 5rem;
  }

  @include mobile {
    padding: 0 2rem;
  }

  .title {
    font-size: 3rem;
    position: relative;
    display: flex;

    @include mobile {
      font-size: 2rem;
    }
  }

  .arrow {
    position: absolute;
    background-size: cover;
    transform: scale(1);
    top: 45px;
    transform: rotate(195deg);
    left: -48px;

    @include mobile {
      top: 30px;
      left: -33px;
    }
  }
}
